name: Deploy Infrastructure

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Setup Terraform
      uses: hashicorp/setup-terraform@v2
      with:
        terraform_version: latest # terraform latest version

    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v3
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: us-east-1  # Укажите ваш регион

    - name: Set up SSH key for Terraform
      run: echo "${{ secrets.SSH_PUBLIC_KEY }}" > terraform/ssh_key.pub


    - name: Set environment variables for database credentials
      run: |
        echo "DB_USERNAME=${{ secrets.DB_USERNAME }}" >> $GITHUB_ENV
        echo "DB_PASSWORD=${{ secrets.DB_PASSWORD }}" >> $GITHUB_ENV

    - name: Initialize Terraform
      working-directory: ./terraform
      run: terraform init

    - name: Validate Terraform
      working-directory: ./terraform
      run: terraform validate

    - name: Plan Terraform
      working-directory: ./terraform
      run: terraform plan -out=tfplan

    - name: Apply Terraform
      working-directory: ./terraform
      run: terraform apply -auto-approve tfplan
