name: Destroy Infrastructure

on:
  workflow_dispatch:

jobs:
  destroy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Setup Terraform
      uses: hashicorp/setup-terraform@v2
      with:
        terraform_version: 1.5.0  # Укажите вашу версию Terraform

    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v3
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: us-east-1  # Укажите ваш регион

    - name: Initialize Terraform
      working-directory: ./terraform
      run: terraform init

    - name: Plan Destroy
      working-directory: ./terraform
      run: terraform plan -destroy -out=tfplan

    - name: Destroy Infrastructure
      working-directory: ./terraform
      run: terraform apply -auto-approve tfplan
